<mat-grid-list cols="2" rowHeight="2.5:1.33">
  <mat-grid-tile>
    <div>
      <div class="caja-justify ml-9">
        <div><h1 class="font-title mb-4">Registrate ya</h1></div>
        <mat-list>
          <mat-list-item>
            <h3 class="font-subtitle">
              - La mejor forma de estudiar un idioma es practicándolo
            </h3>
          </mat-list-item>
          <mat-list-item>
            <h3 class="font-subtitle">
              - Ten una conversación con nuestros tutores nativos del tema que
              elijas
            </h3>
          </mat-list-item>
          <mat-list-item>
            <h3 class="font-subtitle">
              - Forma parte de nuestro staff de tutores y comparte tus
              conocimientos con todo el mundo
            </h3>
          </mat-list-item>
        </mat-list>
        <div>
          <button mat-raised-button class="button-color">REGISTRATE YA</button>
        </div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img class="fix-img" src="../../assets/img/studyng.jpg" alt="Studding" />
  </mat-grid-tile>
</mat-grid-list>
