<div class="container">
  <div>
    <mat-card class="tiny-card">
      <mat-card-title>Monthly</mat-card-title>
      <mat-card-content>
        <ul>
          <li>Cancel at any time</li>
          <li>We accept as payment method all your credit cards.</li>
          <li>No commissions or late payments</li>
          <li>Practice from your cell phone or computer</li>
        </ul>
      </mat-card-content>
      <mat-divider></mat-divider>
      <div class="card-component">
        <mat-chip-list>
          <mat-chip>Before: $39.99</mat-chip>
          <mat-chip selected color="primary" class="back-color-web"
            >Before: $30</mat-chip
          >
        </mat-chip-list>
      </div>
      <mat-card-actions>
        <button mat-raised-button routerLink="/main">SELECT</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card class="tiny-card">
      <mat-card-title>All Full Year</mat-card-title>
      <mat-card-content>
        <ul>
          <li>Cancel at any time</li>
          <li>We accept as payment method all your credit cards.</li>
          <li>No commissions or late payments</li>
          <li>Practice from your cell phone or computer</li>
        </ul>
      </mat-card-content>
      <mat-divider></mat-divider>
      <div class="card-component">
        <mat-chip-list>
          <mat-chip>Before: $159.99</mat-chip>
          <mat-chip selected color="primary" class="back-color-web"
            >Before: $150</mat-chip
          >
        </mat-chip-list>
      </div>
      <mat-card-actions>
        <button mat-raised-button routerLink="/main">SELECT</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div>
    <mat-card class="tiny-card">
      <mat-card-title>Summer Time</mat-card-title>
      <mat-card-content>
        <ul>
          <li>Cancel at any time</li>
          <li>We accept as payment method all your credit cards.</li>
          <li>No commissions or late payments</li>
          <li>Practice from your cell phone or computer</li>
        </ul>
      </mat-card-content>
      <mat-divider></mat-divider>
      <div class="card-component">
        <mat-chip-list>
          <mat-chip>Before: $99.99</mat-chip>
          <mat-chip selected color="primary" class="back-color-web"
            >Before: $90</mat-chip
          >
        </mat-chip-list>
      </div>
      <mat-card-actions>
        <button mat-raised-button routerLink="/main">SELECT</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
