.tiny-card {
  max-width: 700px;
}


.back-color-web {
  background-color: #2699fb;
}

.card-component{
  padding: 1rem 1rem 0.5rem 0rem;
}
.size{
  max-width: 900px;
  margin-left: 3% !important;
  margin-right:3% !important;
  margin-top:10%;
  margin-bottom: 10%;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
