<div class="container" style="margin: 50px">

  <div class="caja-justify ml-9">
    <h1 class="texto-ranking">Ranking Student</h1> <p class="texto-ranking"> Ranking of students who booked the most classes with you</p></div>
  <mat-grid-list cols="1" rowHeight="4:0.43">
    
    <mat-grid-tile >
      <mat-card class="first-card" >
        <mat-card-header>

          <mat-card-title>First Place</mat-card-title>
          <mat-card-subtitle>Trall Orgrim</mat-card-subtitle>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <div mat-card-image></div>

                <div>
                  <p class="texto-ranking">75 Reservaciones</p>
                  <mat-spinner class="barra-progreso" color="accent" value="75" mode="determinate" diameter="30"></mat-spinner>
                </div>

      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile >
      <mat-card class="second-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title>Second Place</mat-card-title>
          <mat-card-subtitle>Pablo Escobar</mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image></div>
        <div>
          <p class="texto-ranking">55 Reservaciones</p>
          <mat-spinner class="barra-progreso" color="primary" value="55" mode="determinate" diameter="30"></mat-spinner>
        </div>
      </mat-card>

    </mat-grid-tile>

    <mat-grid-tile >
      <mat-card class="third-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image3"></div>
          <mat-card-title>Third Place</mat-card-title>
          <mat-card-subtitle>Pedro Castillo</mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image></div>
        <div>
          <p class="texto-ranking">25 Reservaciones</p>
          <mat-spinner class="barra-progreso" color="accent" value="25" mode="determinate" diameter="30"></mat-spinner>
        </div>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

</div>
