<div class="container" >


  <mat-grid-list cols="1" rowHeight="4:0.33">
    <mat-grid-tile>
      <div>
        <div class="caja-justify ml-9">
          <div><h1 class="font-title mb-4">Ranking Student</h1></div></div></div></mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="first-card" >
        <mat-card-header>

          <mat-card-title>First Place</mat-card-title>
          <mat-card-subtitle>Trall Orgrim</mat-card-subtitle>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <div mat-card-image></div>
        <mat-card-content>
          <p>
            75 Reservaciones.
          </p>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="second-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title>Second Place</mat-card-title>
          <mat-card-subtitle>Pablo Escobar</mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image></div>
        <mat-card-content>
          <p>
            65 Reservaciones.
          </p>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="third-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image3"></div>
          <mat-card-title>Third Place</mat-card-title>
          <mat-card-subtitle>Pedro Castillo</mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image></div>
        <mat-card-content>
          <p>
           25 Reservaciones
          </p>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

</div>
