<mat-grid-list cols="2" rowHeight="2:1.33">
  <mat-grid-tile>
    <div>
      <div>
        <div><h1 class="font-title mb-4">Ilanguage</h1></div>
        <div>
          <h3 class="font-subtitle">
            La mejor forma de estudiar un idioma es practicándolo
          </h3>
        </div>
        <div>
          <h3 class="font-subtitle">
            Ten una conversación con nuestros tutores nativos del tema que
            elijas
          </h3>
        </div>
        <button mat-raised-button class="button-color mr-5">REGISTRATE YA</button>

        <button mat-raised-button>LOGIN</button>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <img
      class="fix-img p-cent"
      src="../../assets/img/zoom-conversation.jpg"
      alt="Algo"
    />
  </mat-grid-tile>
</mat-grid-list>
