<div class="container">
  <mat-grid-list cols="3" rowHeight="2.5:1.33">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Testimonials</mat-card-title>
          <mat-card-subtitle>Real stories about our users</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images.pexels.com/photos/3184398/pexels-photo-3184398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Photo of a Shiba Inu">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>John Smith</mat-card-title>
          <mat-card-subtitle>User for more than 3 months</mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image></div>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
            Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
            was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>John Smith</mat-card-title>
          <mat-card-subtitle>User for more than 3 months</mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image></div>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
            Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
            was originally bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>

</div>
